.quote {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  border: solid white 1px;
  padding: 10px;
  background: #EFEFBB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgba(229,224,146,.8), rgba(251,173,109,.8),rgba(227,187,207,.8), rgba(251,173,109,.8), rgba(229,224,146,.8));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(229,224,146,.8), rgba(251,173,109,.8),rgba(227,187,207,.8), rgba(251,173,109,.8), rgba(229,224,146,.8));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.author {
  padding-left: 150px;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.button {
  padding-top: 40px;
  margin:auto;
  width:25%;
}

.tweet {
  padding-top: 40px;
  margin:auto;
  width:25%;
}

body {
  background: #606c88;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgba(26,175,125,.9), rgba(21,210,97,.9),rgba(23,149,154,.9), rgba(21,210,97,.9), rgba(26,175,125,.9));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(26,175,125,.9), rgba(21,210,97,.9),rgba(23,149,154,.9), rgba(21,210,97,.9), rgba(26,175,125,.9));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



p{
	font-size:12px;
	text-align:justify;
	margin-top:10px
	}

	a,p{
	font-weight:200
	}
	
	a{
	font-size:18px
	}


.no-padding:hover span.text-content{
opacity:1
}
span.text-content span{
display:table-cell;
text-align:center;
vertical-align:middle
}
.dv1
{
margin-top:0;
margin-bottom:0
}
.dv-sub{
margin-bottom:2px
}
.center-icon{
text-align:center
}
.text-right{
padding:6px
}
.fa{
padding-left:10px
}
.section{
padding-top:50px
}
.section-container{
padding-top:50px;
padding-bottom:50px;
border-bottom:1px solid #dbdbdb
}
.section.row{
margin-right:-15px;
margin-left:-15px
}
.footer{
border-top:1px solid #dbdbdb
;background:black;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgba(26,175,125,.9), rgba(21,210,97,.9),rgba(23,149,154,.9), rgba(21,210,97,.9), rgba(26,175,125,.9));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(26,175,125,.9), rgba(21,210,97,.9),rgba(23,149,154,.9), rgba(21,210,97,.9), rgba(26,175,125,.9));
padding:20px 0 25px}
.footer ul{
list-style-type:none;
padding-left:0}
.footer li{
color:#000;
font-weight:600}
@media (max-width:500px){
img.col-md-6{
padding:50px;
width:100%}
}
